@media(min-width:1024px){
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header nav ul { 
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav li { 
    margin: 0 15px;
}

header nav li {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

h1 {
    margin-top: 10px;
}

section {
    padding: 2rem;
    text-align: center;
}

.about, .projects {
    background-color: #333;
    margin: 2rem 0;
    color: #fff;
}

.school {
    background-color: #3498db;
}}

@media(max-width:1024) and (min-width:600px){
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header nav ul { 
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav li { 
    margin: 0 15px;
}

header nav li {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

h1 {
    margin-top: 10px;
}

section {
    padding: 2rem;
    text-align: center;
}

.about, .projects {
    background-color: #333;
    margin: 2rem 0;
    color: #fff;
}

.school {
    background-color: #3498db;
}
.img {
    max-width: 300px;
    height: 300px;
    margin-bottom: 20px;
}}

@media(max-width:600px){
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header nav ul { 
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav li { 
    margin: 0 15px;
}

header nav li {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

h1 {
    margin-top: 10px;
}

section {
    padding: 2rem;
    text-align: center;
}

.about, .projects {
    background-color: #333;
    margin: 2rem 0;
    color: #fff;
}

.school {
    background-color: #3498db;
}
.img {
    max-width: 300px;
    height: 300px;
    margin-bottom: 20px;}
}
